# Microserviços URLs
AUTH_MS_URL=http://localhost:3001
USER_MS_URL=http://localhost:3002
PRODUCT_MS_URL=http://localhost:3003
SALES_MS_URL=http://localhost:3004
NOTIFICATIONS_MS_URL=http://localhost:3005

# Configurações do frontend
NUXT_PUBLIC_SITE_URL=http://localhost:3000 